
.header-item {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  z-index: 0;
}



.header-logo {
  padding-right: 47px;
}

.header-item a, a:hover {
  color: #424242;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .header {
    display: block !important;
  }
}


