
.sidebar {
  position: fixed;
  width: 250px;
}

.logo img {
  image-rendering: crisp-edges;
}

.sidebar-item {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: 50%;
}

.sidebar-item a, a:hover {
  color: #424242;
  text-decoration: none;
}

.copyright {
  position: fixed;
  width: 250px;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}