
.description-text {
  opacity: 1;
  background-color: #fff;
  transition: opacity 1s ease;
}

.description-text-hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.artwork-container img {
  max-width: 800px;
  max-height: 800px;
  z-index: 9999;
}

@media only screen and (max-width: 1200px) {
  .artwork-container img {
    max-width: 680px;
  }
}

@media only screen and (max-width: 992px) {
  .artwork-container img {
    max-width: 450px;
  }
}

@media only screen and (max-width: 768px) {
  .artwork-container img {
    max-width: 500px;
  }
}



@media only screen and (max-width: 576px) {
  .artwork-container img {
    max-width: 300px;
  }
}